@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.home_page {
  background: linear-gradient(rgb(0, 183, 18), rgb(114, 217, 34));
}
